schema/promessi-sposi.odd

<?xml version="1.0" encoding="UTF-8"?>
<TEI xmlns="http://www.tei-c.org/ns/1.0" xmlns:sch="http://purl.oclc.org/dsdl/schematron">
  <teiHeader>
    <fileDesc>
      <titleStmt>
        <title>TEI ODD: encoding scheme for <title level="m">I Promessi Sposi</title>, Quarantana edition (1840)</title>
        <respStmt>
          <resp>ODD authored by</resp>
          <name>facsimile-alignment project (Task 5, offline TEI validator + Zenodo package)</name>
        </respStmt>
      </titleStmt>
      <publicationStmt>
        <p>Not published separately; distributed alongside the digital edition as its schema-customization
        and documentation source (<ref target="schema/promessi-sposi.sch">promessi-sposi.sch</ref> is the
        extracted, runnable Schematron copy of this ODD's embedded <gi>constraintSpec</gi>).</p>
      </publicationStmt>
      <sourceDesc>
        <p>Describes the encoding actually present in <ref target="quarantana/">quarantana/*.xml</ref>
        (the text layer: <ident>intro.xml</ident>, <ident>cap1.xml</ident>&#8211;<ident>cap38.xml</ident>;
        the facsimile layer: <ident>facsimile.xml</ident>; the header and prosopography files:
        <ident>header.xml</ident>, <ident>listPerson.xml</ident>), as verified by inspection of the
        dataset rather than assumed from a generic TEI profile.</p>
      </sourceDesc>
    </fileDesc>
  </teiHeader>
  <text>
    <body>
      <div>
        <head>Scope</head>
        <p>This ODD documents the TEI customization used for the Quarantana <title level="m">Promessi
        Sposi</title> digital edition and is the canonical source for two artifacts checked at
        validation time: the tightened schema (RelaxNG, generatable with the TEI Stylesheets'
        <ident>teitorelaxng</ident> — see the note at the end of this document) and the Schematron
        project rules embedded below as <gi>constraintSpec</gi> (extracted verbatim into
        <ident>schema/promessi-sposi.sch</ident>, the copy the pipeline actually runs against; see
        <ref target="pipeline/validate_tei.py">pipeline/validate_tei.py</ref>). The shipped, offline
        validator runs three layers: <hi rend="italic">tei_all</hi> RelaxNG (structural), this
        Schematron (project rules), and Python cross-file referential-integrity checks; this ODD covers
        the first two.</p>
      </div>

      <div>
        <head>schemaSpec</head>
        <schemaSpec ident="promessi-sposi" start="TEI div">
          <!-- Both start symbols are needed: "TEI" validates a complete document (header.xml,
               facsimile.xml, listPerson.xml, and each chapter file, all of which are standalone
               <TEI> documents), while "div" validates a bare <div> fragment — the unit the
               alignment pipeline round-trips through when it rewrites a single chapter's body. -->
          <moduleRef key="tei"/>
          <moduleRef key="header"/>
          <moduleRef key="core"/>
          <moduleRef key="textstructure"/>
          <moduleRef key="transcr"/>
          <moduleRef key="figures"/>
          <moduleRef key="linking"/>
          <moduleRef key="namesdates"/>
          <moduleRef key="analysis"/>

          <p>Module rationale, checked against the actual element vocabulary in <ident>quarantana/</ident>
          (element and attribute counts below are exact, from a full corpus grep, not estimates):</p>
          <list type="gloss">
            <label>tei</label>
            <item>the base module: <gi>TEI</gi> itself, plus the documentation elements
            (<gi>schemaSpec</gi>, <gi>elementSpec</gi>, <gi>attDef</gi>, <gi>valList</gi>, <gi>gi</gi>,
            <gi>gloss</gi>, <gi>desc</gi>, <gi>ident</gi>) used to write this ODD.</item>
            <label>header</label>
            <item><gi>teiHeader</gi> and its descendants: <gi>fileDesc</gi>, <gi>titleStmt</gi>,
            <gi>respStmt</gi>/<gi>resp</gi> (nine named transcribers plus the automated alignment
            pipeline's credit line), <gi>publicationStmt</gi>, <gi>sourceDesc</gi>, <gi>availability</gi>,
            <gi>particDesc</gi>/<gi>listPerson</gi>/<gi>person</gi> (the 8-entry prosopography in
            <ident>listPerson.xml</ident>), <gi>profileDesc</gi>, <gi>encodingDesc</gi>,
            <gi>editorialDecl</gi>, <gi>projectDesc</gi>, <gi>revisionDesc</gi>/<gi>change</gi>.</item>
            <label>core</label>
            <item>the workhorse module for running text: <gi>p</gi>, <gi>head</gi>, <gi>hi</gi>,
            <gi>note</gi>, <gi>quote</gi>, <gi>q</gi>, <gi>bibl</gi>, <gi>listBibl</gi>, <gi>foreign</gi>,
            <gi>milestone</gi>, <gi>lb</gi>, <gi>pb</gi>, <gi>name</gi>, <gi>date</gi>, <gi>idno</gi>,
            <gi>list</gi>/<gi>item</gi> (used here for this ODD's own gloss lists).</item>
            <label>textstructure</label>
            <item><gi>div</gi> (one per chapter and the introduction; <att>type</att> values
            <val>introduzione</val> and <val>capitolo</val>) and the ancestor <gi>text</gi>/<gi>body</gi>
            elements every chapter file wraps its content in.</item>
            <label>transcr</label>
            <item>the facsimile-linking apparatus: <gi>facsimile</gi>, <gi>surface</gi>, <gi>zone</gi>
            (all in <ident>facsimile.xml</ident>), and the <att>facs</att> attribute this module adds to
            ordinary text-layer elements (<gi>lb</gi>, <gi>pb</gi>, <gi>w</gi>, <gi>figure</gi>,
            <gi>head</gi>) so they can point into the facsimile layer. Also covers <gi>add</gi>
            (two editorial insertions, both <att>resp="#F.S."</att>, in <ident>cap15.xml</ident> and
            <ident>cap25.xml</ident>).</item>
            <label>figures</label>
            <item><gi>figure</gi> (438 uses; <att>type</att> values <val>capolettera</val>,
            <val>intestazione</val>, <val>altre_illustrazioni</val>), <gi>graphic</gi> (in both the text
            layer, pointing at <ident>./assets/img/*.jpg</ident>, and the facsimile layer, pointing at the
            page scan) and <gi>figDesc</gi>.</item>
            <label>linking</label>
            <item>the <att>corresp</att> attribute (figure &#8594; DLRC IIIF item page; <gi>bibl</gi> &#8594;
            a <ident>listBibl</ident> entry by <att>xml:id</att>) and <att>sameAs</att> (already part of
            TEI's <ident>att.global.linking</ident> class; see the note below &#8212; no schema
            customization needed for it, it is documented here purely for completeness).</item>
            <label>namesdates</label>
            <item><gi>persName</gi> (in the transcribers' <gi>respStmt</gi>s, the prosopography, and
            inline in running text), <gi>placeName</gi>, <gi>orgName</gi>.</item>
            <label>analysis</label>
            <item><gi>w</gi> &#8212; the single most frequent element in the corpus (215,968 occurrences),
            one per tokenized word, each carrying an <att>xml:id</att> and, where aligned, a
            <att>facs</att> pointer to a facsimile <gi>zone</gi>. <hi rend="italic">Note:</hi> this
            module is not in the brief's originally proposed module list, but <gi>w</gi> is the TEI
            element for tokenized words and its home module is <ident>analysis</ident> — omitting it
            would leave the schema unable to validate the single most common element in the dataset, so
            it is added here.</item>
          </list>

          <p>House convention: the dataset carries one intentional deviation from plain TEI core — two
          paragraphs, one in <ident>intro.xml</ident> and one in <ident>cap1.xml</ident>, both containing
          nothing but a single drop-cap <gi>figure</gi>/<gi>graphic</gi> pair, carry
          <att>type="capolettera"</att>. This is a house convention inherited from the Manzoni Online
          edition (Universit&#224; di Bologna) and is deliberately kept rather than normalized away.
          Standard <ident>tei_all</ident> does not sanction <att>type</att> on <gi>p</gi>, so this
          <gi>schemaSpec</gi> customizes the element to permit it:</p>
          <elementSpec ident="p" mode="change" module="core">
            <attList>
              <attDef ident="type" mode="add">
                <desc>marks a paragraph whose sole content is a drop-cap (capolettera) illustration
                placeholder, rather than running prose. Used twice in the whole corpus:
                <ident>intro.xml</ident> and <ident>cap1.xml</ident>.</desc>
                <valList type="closed">
                  <valItem ident="capolettera">
                    <gloss>the paragraph contains only a <gi>figure</gi>/<gi>graphic</gi> pair rendering
                    the chapter's illuminated initial letter; it carries no transcribed word (<gi>w</gi>)
                    content.</gloss>
                  </valItem>
                </valList>
              </attDef>
            </attList>
          </elementSpec>
          <p>This is the only element customization this <gi>schemaSpec</gi> makes. <att>sameAs</att> on
          <gi>bibl</gi> (carried by 15 of the 35 entries in <ident>header.xml</ident>'s <gi>listBibl</gi>,
          each pointing at an <ident>alessandromanzoni.org</ident> catalogue record) needs no such
          customization: it is already part of TEI's <ident>att.global.linking</ident> attribute class,
          available on <gi>bibl</gi> without any schema change.</p>

          <p>The facsimile layer (<ident>facsimile.xml</ident>) holds one <gi>facsimile</gi> containing
          one <gi>surface</gi> per page scan (each with a <gi>graphic</gi> and a <att>corresp</att>
          pointing at the source IIIF canvas) and one <gi>zone</gi> per detected region on the page. Every
          <gi>zone</gi> carries <att>ulx</att>/<att>uly</att>/<att>lrx</att>/<att>lry</att> (bounding box,
          top-left/bottom-right) and a <att>points</att> polygon; the project Schematron below asserts the
          box is well-formed (left-to-right, top-to-bottom) in addition to the semantic checks. Text-layer
          elements (<gi>lb</gi>, <gi>pb</gi>, <gi>w</gi>, <gi>figure</gi>, chapter-opening <gi>head</gi>)
          point into this layer with <att>facs="facsimile.xml#&lt;xml:id&gt;"</att>. Every <gi>zone</gi>
          declares a semantic role in its <att>type</att> attribute; the five values actually used, and
          what each means, are:</p>
          <table>
            <head>Zone <att>type</att> semantics</head>
            <row role="label">
              <cell>type</cell>
              <cell>meaning</cell>
              <cell>notes</cell>
            </row>
            <row>
              <cell><val>line</val></cell>
              <cell>one line of running body text</cell>
              <cell>must carry <att>n</att> (line number on the page); linked from exactly one text-layer
              <gi>lb</gi> or <gi>w</gi></cell>
            </row>
            <row>
              <cell><val>illustration</val></cell>
              <cell>an embedded image region (drop-cap, header vignette, plate)</cell>
              <cell>linked from a text-layer <gi>figure</gi></cell>
            </row>
            <row>
              <cell><val>runningHead</val></cell>
              <cell>the running header printed at the top of the page</cell>
              <cell>marginalia: expected to carry no transcribed text</cell>
            </row>
            <row>
              <cell><val>pageNum</val></cell>
              <cell>the printed page number</cell>
              <cell>marginalia: expected to carry no transcribed text</cell>
            </row>
            <row>
              <cell><val>signature</val></cell>
              <cell>the gathering signature mark printed at the foot of the page (e.g. "3", "3*")</cell>
              <cell>marginalia: expected to carry no transcribed text; see the alignment pipeline's
              position-first heuristics for garbled page-foot marks on gathering boundaries</cell>
            </row>
          </table>
          <p>The following <gi>constraintSpec</gi> is the canonical source of the project's Schematron
          rules; <ident>schema/promessi-sposi.sch</ident> is its extracted, runnable copy — the file the
          offline validator (<ref target="pipeline/validate_tei.py">pipeline/validate_tei.py</ref>,
          <ident>run_schematron()</ident>) actually loads. The two must be kept in sync by hand; this ODD
          is authoritative if they ever diverge. The first three patterns (<ident>zone-type</ident>,
          <ident>line-needs-n</ident>, <ident>marginalia-no-text</ident>) enforce exactly the table above;
          the fourth (<ident>facs-syntax</ident>) enforces the cross-layer pointer syntax used throughout
          the text layer.</p>
          <constraintSpec ident="project-rules" scheme="schematron">
            <constraint>
              <sch:ns prefix="t" uri="http://www.tei-c.org/ns/1.0"/>
              <sch:ns prefix="xml" uri="http://www.w3.org/XML/1998/namespace"/>
              <sch:pattern id="zone-type">
                <sch:rule context="t:zone">
                  <sch:assert test="@type='line' or @type='illustration' or @type='runningHead' or @type='pageNum' or @type='signature'">zone <sch:value-of select="@xml:id"/> has invalid @type "<sch:value-of select="@type"/>"</sch:assert>
                  <sch:assert test="number(@ulx) &lt; number(@lrx)">zone <sch:value-of select="@xml:id"/> bbox not left-to-right (ulx &gt;= lrx)</sch:assert>
                  <sch:assert test="number(@uly) &lt; number(@lry)">zone <sch:value-of select="@xml:id"/> bbox not top-to-bottom (uly &gt;= lry)</sch:assert>
                </sch:rule>
              </sch:pattern>
            </constraint>
            <constraint>
              <sch:pattern id="line-needs-n">
                <sch:rule context="t:zone[@type='line']">
                  <sch:assert test="@n">line zone <sch:value-of select="@xml:id"/> missing @n</sch:assert>
                </sch:rule>
              </sch:pattern>
            </constraint>
            <constraint>
              <sch:pattern id="marginalia-no-text">
                <sch:rule context="t:zone[@type='pageNum' or @type='signature' or @type='runningHead']">
                  <sch:assert test="normalize-space(.)=''">marginalia zone <sch:value-of select="@xml:id"/> unexpectedly carries transcribed text</sch:assert>
                </sch:rule>
              </sch:pattern>
            </constraint>
            <constraint>
              <sch:pattern id="facs-syntax">
                <sch:rule context="*[@facs]">
                  <sch:assert test="starts-with(@facs,'facsimile.xml#')">@facs not a facsimile.xml fragment: <sch:value-of select="@facs"/></sch:assert>
                </sch:rule>
              </sch:pattern>
            </constraint>
          </constraintSpec>
        </schemaSpec>
      </div>

      <div>
        <head>On the RelaxNG layer and a known libxml2 limitation</head>
        <!-- The tightened, project-specific RelaxNG schema can be generated from this ODD with the
             TEI Stylesheets (teitorelaxng); the shipped offline validator instead runs plain tei_all.rng
             (schema/tei_all.rng) plus this document's Schematron, which is simpler to keep reproducible
             without a Java/XSLT2 toolchain in the pipeline's dependency set. -->
        <p>A project-specific RelaxNG schema tightened to exactly this <gi>schemaSpec</gi> (rejecting,
        for instance, any element outside the modules selected above) can be generated from this ODD
        with the TEI Stylesheets' <ident>teitorelaxng</ident> transform. The validator actually shipped
        with this repository does not do that: it runs the untightened <ident>tei_all.rng</ident>
        (structural layer) plus the Schematron embedded above (project-rules layer) plus Python
        cross-file referential-integrity checks (<ident>pipeline/validate_tei.py</ident>), which is
        sufficient to catch every deviation this edition cares about without adding a Java/XSLT2
        toolchain to the pipeline's dependencies.</p>
        <p><ident>header.xml</ident> and its 35-entry <gi>listBibl</gi> validate cleanly against
        <ident>tei_all.rng</ident>. (A single malformed <att>sameAs</att> URI — <code>http://http://…</code>
        on one <gi>bibl</gi> — briefly made libxml2's RelaxNG validator cascade into misleading
        "unexpected element" errors across the list; correcting the URI resolved them.) The validator's
        known-issues allow-list (<ident>pipeline/validate_tei.py</ident>, <ident>KNOWN_STRUCTURAL</ident>)
        therefore records only the two <att>type="capolettera"</att> uses above as accepted structural
        deviations that must not be mistaken for regressions.</p>
      </div>
    </body>
  </text>
</TEI>
